
/* info :: file : read this *\
/* ---------------------------------------------------------------------------- *\
   hey (~userName~); you can use this file to customize your session upon login
   use your browser's developer-tools to inspect on elements  you can customize
\* ---------------------------------------------------------------------------- */




/* custom :: CSS : enjoy!
/* ---------------------------------------------------------------------------- */
   #AnonMainGrid
   {
      background:url('/User/dcor/wal1.jpg');
      background-size:cover;
   }

   #AnonMainPanl
   {
      background:hsla(210,3%,16%,0.95);
   }

   #CodeBodyView
   {
      /* background:url('/~/sci-fi-android.jpg'); */
      background-size:cover;
   }

   #CodeBodyPanl
   {
      background:hsla(220,3%,15%,0.95);
   }

   .CodeEditWrap
   {
       background:hsla(220,3%,16%,0);
   }
/* ---------------------------------------------------------------------------- */
