
/* clan :: MailPlugMenu
/* ----------------------------------------------------------------------------------------------- */
   #MailPlugMenu
   {
      padding:10px;
   }
/* ----------------------------------------------------------------------------------------------- */


.mboxMenu
{
   width:30px;
   padding:4px;
   background:hsla(0,0%,0%,0.1);
}
