
/* clan :: ProcPanlSlab
/* ----------------------------------------------------------------------------------------------- */
   #ProcToolMenu
   {
      padding:10px;
   }
/* ----------------------------------------------------------------------------------------------- */



/* clan :: procMenuButn
/* ----------------------------------------------------------------------------------------------- */
   .procMenuButn
   {
      display:block; height:28px; padding:0px !important;
      background:linear-gradient(0deg, hsla(210,3%,19%,1) 0%, hsla(210,3%,23%,1) 100%);
      font-size:13px; line-height:26px; text-align:center; color:hsla(0,0%,70%,1);
      border-color:hsla(210,3%,26%,1); box-shadow:0px 0px 3px hsla(0,0%,0%,0.5);
   }
   .procMenuButn:hover
   {
      background:linear-gradient(0deg, hsla(210,3%,26%,1) 0%, hsla(210,3%,30%,1) 100%);
      color:hsla(0,0%,95%,1);
      border:1px solid hsla(210,3%,36%,1);
   }
   .procActvButn
   {
      background:hsla(210,3%,30%,1);
      color:hsla(0,0%,95%,1);
      box-shadow:none; border:1px solid hsla(210,60%,50%,1);
   }
/* ----------------------------------------------------------------------------------------------- */


.ProcPanlHead
{
    height:60px;
}

.ProcPanlHead>.panlHeadBanr>span
{
    margin-left:15px;
    margin-right:5px;
    font-family:"hack";
    font-weight:bold;
    opacity:0.6;
}

.ProcPanlHead .panlHeadBanr butn
{
    margin-left:10px;
}


.ProcPanlBody
{
    padding:10px;
}


.ProcPanlBody .toolFeedCell
{
    height:24px !important;
    padding:3px;
    vertical-align:middle !important;
}


.ProcPanlBody .toolFeedCell input
{
    width:100% !important;
    height:100% !important;
    margin:0px !important;
}


.ProcConfName
{
    width:200px !important;
}


.ProcConfValu
{
}


.ProcConfVoid
{
    width:24px;
    padding-bottom:0px !important;
    padding-top:6px !important;
}
